*.swp
DrugVQA.sif
*.pyc
src/.DS_Store
model_pkl/.DS_Store
.DS_Store
data/DUDE/data_pre/*1_train_fold
data/DUDE/data_pre/*1_val_fold
data/DUDE/data_pre/*2_train_fold
data/DUDE/data_pre/*2_val_fold
data/DUDE/data_pre/*3_train_fold
data/DUDE/data_pre/*3_val_fold
data/DUDE/data_pre/single_*
results/.Rapp.history
results/.Rhistory
src/.ipynb_checkpoints/create_viz-checkpoint.ipynb
data/.ipynb_checkpoints/get_bindingdb_ids-checkpoint.ipynb
data/.ipynb_checkpoints/get_bindingdb_proteins-checkpoint.ipynb
data/.ipynb_checkpoints/prepare_bindingdb_data-checkpoint.ipynb
data/.Rhistory
src/.ipynb_checkpoints/Compare peak performance-checkpoint.ipynb
